#main-navbar {
  background-color: blue; 
  overflow: hidden;
}

#main-navbar ul {
  float: left;
  left: 50%;
  list-style-type: none;               
  margin: 0;                               
  padding: 0;                             
  position: relative;    
}

#main-navbar ul li {
  display: block;
  float: left;
  position: relative;
  right: 50%;
}

#main-navbar ul li a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover {
   background-color: #000;
}

#navbar-container {
  width: 100%;
  position: relative;
  float: left;
}

#main-navbar #onpage {
   text-decoration: underline overline;
}

#sidebar {
  background-color: red;
  height: 100%;
  width: 20%;
  position: fixed;
}

#sidebar ul {
  list-style-type: none;
  right:0%;
  padding: 0;
}

#sidebar ul li a{
  text-decoration: none;
  display: block;
  text-align: center;
  color: #fff;
  padding: 15px 0;
}

#sidebar ul li a:hover{
  background-color: #000;
}
